.icon-font {
    font-size: 1.5rem;
}


.focus{
    color: #f97316 ;
    background-color: #fed7aa ;
    border-top-right-radius: 0.75rem /* 12px */;
    border-bottom-right-radius: 0.75rem;
    padding-left: 6rem;
    border-left-width: 8px;
    border-color: #9a3412 ;
}

.focus-min{
    color: #f97316 ;
    background-color: #fed7aa ;
    border-top-right-radius: 0.75rem /* 12px */;
    border-bottom-right-radius: 0.75rem;
    padding-left: 1rem;
    border-left-width: 8px;
    border-color: #9a3412 ;
}

.active{
    padding-left: 7rem
}

.app-body{
    min-height: calc(100vh - 64px);
    width: calc(100vw - 360px);
    overflow-x: hidden;
    overflow-y: hidden;
}
.app-body-collapsed{
    min-height: calc(100vh - 64px);
    width: calc(100vw - 4rem);
    overflow-x: hidden;
    overflow-y: hidden;
}

