.icon-font {
  font-size: 1.5rem;
}

.focus {
  color: #f97316;
  background-color: #fed7aa;
  border-top-right-radius: 0.75rem /* 12px */;
  border-bottom-right-radius: 0.75rem;
  padding-left: 6rem;
  border-left-width: 8px;
  border-color: #9a3412;
}

.focus-min {
  color: #f97316;
  background-color: #fed7aa;
  border-top-right-radius: 0.75rem /* 12px */;
  border-bottom-right-radius: 0.75rem;
  padding-left: 1rem;
  border-left-width: 8px;
  border-color: #9a3412;
}

.active {
  padding-left: 7rem;
}

.app-body {
  min-height: calc(100vh - 64px);
  width: calc(100vw - 360px);
  overflow-x: hidden;
  overflow-y: hidden;
}
.app-body-collapsed {
  min-height: calc(100vh - 64px);
  width: calc(100vw - 4rem);
  overflow-x: hidden;
  overflow-y: hidden;
}
.loader-overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 64px);
  background-color: rgba(0, 0, 0, 0.422);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #f97316;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
